.white-background{
    -fx-background-color: #ffffff;
}
.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}
.round-corner {
    -fx-border-radius: 50;
    -fx-border-color: #d7d7d7;
}
.padding-left {
    -fx-padding: 0 0 0 25;
}
.transparent-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 16px;
}
.transparent-button:hover {
    -fx-background-color: #1188F6;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
}
.transparent-button:focused {
    -fx-background-color: #1188F6;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
}
.transparent:hover{
    -fx-background-color: gray;
}
.gray-border {
    -fx-border-color: #ededef;
}
.border-bottom {
    -fx-border-width: 0 0 1 0;
}
.transparent-border {
    -fx-border-color: transparent;
}
.green-button {
    -fx-background-color: #28a745;
    -fx-text-fill: white;
    -fx-font-family: 'Calibri';
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-radius: 5;
}
.green-button:hover {
    -fx-background-color: #218838;
}

.scroll-pane {
    -fx-background-color:transparent;
}

.text-field:hover {
    -fx-background-color: transparent;
}